In [2]:
import pandas as pd

In [ ]:
# df1 = pd.read_csv('/content/demo_anomalies_cleaned.csv')
# df2 = pd.read_csv('/content/demo_final_cleaned_state_check.csv')

In [3]:
df1 = pd.read_csv('/content/demo_final_cleaned.csv')
df2 = pd.read_csv('/content/demo_anomalies_anomalies_clean.csv')

In [4]:
df1.shape

(1632603, 6)

In [5]:
df2.shape

(84801, 6)

In [6]:
df= pd.concat([df1,df2])

In [7]:
df.shape

(1717404, 6)

In [8]:
df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,odisha,nabarangpur,764077,37,465
1,01-03-2025,rajasthan,jalore,343021,20,355
2,01-03-2025,tamil nadu,kanniyakumari,629803,10,19
3,01-03-2025,west bengal,purulia,723151,34,490
4,01-03-2025,punjab,ferozepur,152022,14,325

In [ ]:
df.drop(['match'],axis=1, inplace=True)

In [ ]:
df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,odisha,nabarangpur,764077,37,465
1,01-03-2025,rajasthan,jalore,343021,20,355
2,01-03-2025,tamil nadu,kanniyakumari,629803,10,19
3,01-03-2025,west bengal,purulia,723151,34,490
4,01-03-2025,punjab,ferozepur,152022,14,325

In [9]:
df.to_csv('demo_final_cleaned_new.csv',index=False)