In [1]:
import pandas as pd

In [ ]:
# df1 = pd.read_csv('/content/enrol_anomalies_cleaned.csv')
# df2 = pd.read_csv('/content/enrol_final_cleaned_state_check.csv')

In [2]:
df1 = pd.read_csv('/content/enrol_final_cleaned.csv')
df2 = pd.read_csv('/content/enrol_anomalies_anomalies_clean.csv')

In [3]:
df1.shape

(840431, 7)

In [4]:
df2.shape

(38627, 7)

In [5]:
df= pd.concat([df1,df2])

In [6]:
df.shape

(879058, 7)

In [7]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,09-03-2025,uttar pradesh,mahrajganj,273164,31,70,13
1,09-03-2025,west bengal,uttar dinajpur,733129,26,18,27
2,15-03-2025,uttar pradesh,mahrajganj,273164,12,55,12
3,20-03-2025,tamil nadu,kancheepuram,600069,12,12,10
4,27-03-2025,uttar pradesh,mahrajganj,273164,11,56,22

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 879058 entries, 0 to 38626
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            879058 non-null  object
 1   state           879058 non-null  object
 2   district        879058 non-null  object
 3   pincode         879058 non-null  int64
 4   age_0_5         879058 non-null  int64
 5   age_5_17        879058 non-null  int64
 6   age_18_greater  879058 non-null  int64
dtypes: int64(4), object(3)
memory usage: 53.7+ MB

In [ ]:
df.drop(['match'],axis=1, inplace=True)

In [ ]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,09-03-2025,uttar pradesh,mahrajganj,273164,31,70,13
1,09-03-2025,west bengal,uttar dinajpur,733129,26,18,27
2,15-03-2025,uttar pradesh,mahrajganj,273164,12,55,12
3,20-03-2025,tamil nadu,kancheepuram,600069,12,12,10
4,27-03-2025,uttar pradesh,mahrajganj,273164,11,56,22

In [9]:
df.to_csv('enrol_final_cleaned_new.csv',index=False)