# UIDAI Biometric Data Analysis file 1

In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('/content/enrol_clean_final.csv')

In [5]:
df.shape

(807345, 7)

In [6]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,09-03-2025,karnataka,bengaluru urban,560043,14,33,39
1,09-03-2025,uttar pradesh,kanpur nagar,208001,29,82,12
2,09-03-2025,uttar pradesh,aligarh,202133,62,29,15
3,09-03-2025,karnataka,bengaluru urban,560016,14,16,21
4,09-03-2025,bihar,sitamarhi,843331,20,49,12

In [ ]:
df['district'] = df['district'].str.upper()
df['state'] = df['state'].str.upper()

In [ ]:
df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,UTTAR PRADESH,GORAKHPUR,273213,49,529
1,01-03-2025,ANDHRA PRADESH,CHITTOOR,517132,22,375
2,01-03-2025,GUJARAT,RAJKOT,360006,65,765
3,01-03-2025,ANDHRA PRADESH,SRIKAKULAM,532484,24,314
4,01-03-2025,RAJASTHAN,UDAIPUR,313801,45,785

In [ ]:
import json
import pandas as pd

# Load the pincode reference JSON file
with open('pin-code-data.json', 'r') as f:
    pincode_reference = json.load(f)

# Convert pincode values to strings for consistent lookup
df['pincode_str'] = df['pincode'].astype(str)

# Use map with default None for missing values
df['state_new'] = df['pincode_str'].map(
    lambda x: pincode_reference.get(x, {}).get('state', None)
)
df['district_new'] = df['pincode_str'].map(
    lambda x: pincode_reference.get(x, {}).get('district', None)
)

# Optional: Drop the temporary pincode_str column if not needed
df = df.drop('pincode_str', axis=1)

print(df.head())

         date           state    district  pincode  demo_age_5_17  \
0  01-03-2025   UTTAR PRADESH   GORAKHPUR   273213             49
1  01-03-2025  ANDHRA PRADESH    CHITTOOR   517132             22
2  01-03-2025         GUJARAT      RAJKOT   360006             65
3  01-03-2025  ANDHRA PRADESH  SRIKAKULAM   532484             24
4  01-03-2025       RAJASTHAN     UDAIPUR   313801             45

   demo_age_17_       state_new district_new
0           529   UTTAR PRADESH    GORAKHPUR
1           375  ANDHRA PRADESH     CHITTOOR
2           765         GUJARAT       RAJKOT
3           314  ANDHRA PRADESH   SRIKAKULAM
4           785       RAJASTHAN      UDAIPUR

In [ ]:
df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_,state_new,district_new
0,01-03-2025,UTTAR PRADESH,GORAKHPUR,273213,49,529,UTTAR PRADESH,GORAKHPUR
1,01-03-2025,ANDHRA PRADESH,CHITTOOR,517132,22,375,ANDHRA PRADESH,CHITTOOR
2,01-03-2025,GUJARAT,RAJKOT,360006,65,765,GUJARAT,RAJKOT
3,01-03-2025,ANDHRA PRADESH,SRIKAKULAM,532484,24,314,ANDHRA PRADESH,SRIKAKULAM
4,01-03-2025,RAJASTHAN,UDAIPUR,313801,45,785,RAJASTHAN,UDAIPUR

In [ ]:
df.columns

Index(['date', 'state', 'district', 'pincode', 'demo_age_5_17', 'demo_age_17_',
       'state_new', 'district_new'],
      dtype='object')

In [7]:

df['state']=df['state'].str.lower()
df['district']=df['district'].str.lower()

In [ ]:
df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,uttar pradesh,gorakhpur,273213,49,529
1,01-03-2025,andhra pradesh,chittoor,517132,22,375
2,01-03-2025,gujarat,rajkot,360006,65,765
3,01-03-2025,andhra pradesh,srikakulam,532484,24,314
4,01-03-2025,rajasthan,udaipur,313801,45,785

In [8]:
df.shape

(807345, 7)

In [9]:
df_pre_final = df.copy()

In [10]:
df_pre_final.shape

(807345, 7)

In [11]:
df_pre_final.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [12]:
import pandas as pd
import json

# Load your pincode JSON file
with open('pin-code-data.json', 'r') as f:
    pincode_data = json.load(f)

# Create a mapping of state to its valid pincodes
state_to_pincodes = {}
for pincode, info in pincode_data.items():
    state = info['state'].upper()

    if state not in state_to_pincodes:
        state_to_pincodes[state] = set()
    state_to_pincodes[state].add(pincode)

# Function to check if pincode belongs to state
def check_pincode_in_state(pincode, state):
    """
    Check if pincode belongs to the given state
    Returns: True if pincode exists for that state, False otherwise
    """
    pincode_str = str(pincode).strip()
    state_upper = state.upper().strip()

    if state_upper in state_to_pincodes:
        return pincode_str in state_to_pincodes[state_upper]
    else:
        return False

# Create new 'match' column

df_pre_final['match'] = df_pre_final.apply(
    lambda row: check_pincode_in_state(row['pincode'], row['state']),
    axis=1
)

# Display results
print(df_pre_final[['state', 'pincode', 'match']])

# Get summary
print("\nMatch Summary:")
print(df_pre_final['match'].value_counts())

# Show unmatched records
unmatched = df_pre_final[df_pre_final['match'] == False]
print(f"\nUnmatched Records: {len(unmatched)}")
print(unmatched[['state', 'pincode', 'match']])

                state  pincode  match
0           karnataka   560043   True
1       uttar pradesh   208001   True
2       uttar pradesh   202133   True
3           karnataka   560016   True
4               bihar   843331   True
...               ...      ...    ...
807340    west bengal   743601  False
807341    west bengal   733134   True
807342    west bengal   733201   True
807343    west bengal   733207   True
807344    west bengal   733212  False

[807345 rows x 3 columns]

Match Summary:
match
True     784008
False     23337
Name: count, dtype: int64

Unmatched Records: 23337
               state  pincode  match
123     chhattisgarh   494444  False
127     chhattisgarh   494447  False
290     chhattisgarh   494447  False
391          gujarat   394230  False
393           punjab   143110  False
...              ...      ...    ...
807300   west bengal   721257  False
807336   west bengal   743384  False
807338   west bengal   743507  False
807340   west bengal   743601  False
807344   west bengal   733212  False

[23337 rows x 3 columns]

In [14]:
df_pre_final.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,match
0,09-03-2025,karnataka,bengaluru urban,560043,14,33,39,True
1,09-03-2025,uttar pradesh,kanpur nagar,208001,29,82,12,True
2,09-03-2025,uttar pradesh,aligarh,202133,62,29,15,True
3,09-03-2025,karnataka,bengaluru urban,560016,14,16,21,True
4,09-03-2025,bihar,sitamarhi,843331,20,49,12,True

In [13]:
df_one_save = df_pre_final[df_pre_final['match']==True]

In [16]:
df_demo_final = df_pre_final[df_pre_final['match']==True]

In [17]:
df_demo_final.shape

(784008, 8)

In [15]:
df_one_save.to_csv('first_flase_enrol.csv')

In [18]:
df_demo_final.to_csv('pre-final-demo.csv',index=False)

In [19]:
df_demo_final.shape

(784008, 8)

In [20]:
df_demo_final.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,match
0,09-03-2025,karnataka,bengaluru urban,560043,14,33,39,True
1,09-03-2025,uttar pradesh,kanpur nagar,208001,29,82,12,True
2,09-03-2025,uttar pradesh,aligarh,202133,62,29,15,True
3,09-03-2025,karnataka,bengaluru urban,560016,14,16,21,True
4,09-03-2025,bihar,sitamarhi,843331,20,49,12,True

In [21]:
df_demo_final[df_demo_final['match']==False]

Empty DataFrame
Columns: [date, state, district, pincode, age_0_5, age_5_17, age_18_greater, match]
Index: []

In [22]:
df_pre_final = pd.read_csv('/content/pre-final-demo.csv')

In [23]:
df_pre_final.shape

(784008, 8)

In [24]:
import pandas as pd
import json

# Load your pincode JSON file
with open('pin-code-data.json', 'r') as f:
    pincode_data = json.load(f)

# Create a mapping of state to its valid pincodes
district_to_pincodes = {}
for pincode, info in pincode_data.items():
    district = info['district'].upper()

    if district not in district_to_pincodes:
        district_to_pincodes[district] = set()
    district_to_pincodes[district].add(pincode)

# Function to check if pincode belongs to state
def check_pincode_in_district(pincode, district):
    """
    Check if pincode belongs to the given state
    Returns: True if pincode exists for that state, False otherwise
    """
    pincode_str = str(pincode).strip()
    district_upper = district.upper().strip()

    if district_upper in district_to_pincodes:
        return pincode_str in district_to_pincodes[district_upper]
    else:
        return False

# Create new 'match' column

df_pre_final['match_district'] = df_pre_final.apply(
    lambda row: check_pincode_in_district(row['pincode'], row['district']),
    axis=1
)

# Display results
print(df_pre_final[['district', 'pincode', 'match_district']])

# Get summary
print("\nMatch Summary:")
print(df_pre_final['match_district'].value_counts())

# Show unmatched records
unmatched = df_pre_final[df_pre_final['match_district'] == False]
print(f"\nUnmatched Records: {len(unmatched)}")
print(unmatched[['district', 'pincode', 'match_district']])

                 district  pincode  match_district
0         bengaluru urban   560043            True
1            kanpur nagar   208001            True
2                 aligarh   202133            True
3         bengaluru urban   560016            True
4               sitamarhi   843331            True
...                   ...      ...             ...
784003  south 24 parganas   743395           False
784004  south 24 parganas   743513           False
784005     uttar dinajpur   733134           False
784006     uttar dinajpur   733201           False
784007     uttar dinajpur   733207           False

[784008 rows x 3 columns]

Match Summary:
match_district
True     649213
False    134795
Name: count, dtype: int64

Unmatched Records: 134795
                   district  pincode  match_district
39      gautam buddha nagar   201009           False
71                  barpeta   783101           False
161             cooch behar   736135           False
168       north 24 parganas   700159           False
172                udalguri   784507           False
...                     ...      ...             ...
784003    south 24 parganas   743395           False
784004    south 24 parganas   743513           False
784005       uttar dinajpur   733134           False
784006       uttar dinajpur   733201           False
784007       uttar dinajpur   733207           False

[134795 rows x 3 columns]

In [ ]:
# df_pre_final.to_csv('demo_completely_clean.csv')

In [31]:
df000 = df_pre_final[df_pre_final['match_district']==True]

In [32]:
df000.shape

(649213, 9)

In [33]:
df000.to_csv('enrol_complete_clean.csv',index=False)

In [ ]:
df_demo_final[df_demo_final['match']==False]

Empty DataFrame
Columns: [date, state, district, pincode, demo_age_5_17, demo_age_17_, match]
Index: []