# UIDAI Enrollment Data Analysis file 1

In [89]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
df1 = pd.read_csv('/content/api_data_aadhar_enrolment_1000000_1006029.csv')

In [91]:
df1.head()

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

In [92]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6029 entries, 0 to 6028
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            6029 non-null   object
 1   state           6029 non-null   object
 2   district        6029 non-null   object
 3   pincode         6029 non-null   int64
 4   age_0_5         6029 non-null   int64
 5   age_5_17        6029 non-null   int64
 6   age_18_greater  6029 non-null   int64
dtypes: int64(4), object(3)
memory usage: 329.8+ KB

In [93]:
df1.describe()

             pincode      age_0_5     age_5_17  age_18_greater
count    6029.000000  6029.000000  6029.000000     6029.000000
mean   518765.547023     3.606734     3.493448        0.096533
std    193308.752319     6.055847     6.694502        0.479475
min    110003.000000     0.000000     0.000000        0.000000
25%    380022.000000     1.000000     0.000000        0.000000
50%    518005.000000     2.000000     1.000000        0.000000
75%    685595.000000     4.000000     3.000000        0.000000
max    855116.000000   102.000000    89.000000        9.000000

In [94]:
df1.shape

(6029, 7)

In [95]:
df1.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [96]:
df1.isnull().sum()

date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

In [97]:
#duplicated data
df1[df1.duplicated()]

Empty DataFrame
Columns: [date, state, district, pincode, age_0_5, age_5_17, age_18_greater]
Index: []

In [98]:
# without duplicates data
df1 = df1[~df1.duplicated()]
df1.shape

(6029, 7)

In [99]:
# Making copy of data for cleaning
df = df1.copy()

In [100]:
df[~df.duplicated()]

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,31-12-2025,Karnataka,Bidar,585330,2,3,0
1,31-12-2025,Karnataka,Bidar,585402,6,0,0
2,31-12-2025,Karnataka,Bidar,585413,1,0,0
3,31-12-2025,Karnataka,Bidar,585418,1,2,0
4,31-12-2025,Karnataka,Bidar,585421,4,3,0
...,...,...,...,...,...,...,...
6024,31-12-2025,West Bengal,West Midnapore,721149,2,0,0
6025,31-12-2025,West Bengal,West Midnapore,721150,2,2,0
6026,31-12-2025,West Bengal,West Midnapore,721305,0,1,0
6027,31-12-2025,West Bengal,West Midnapore,721504,1,0,0
6028,31-12-2025,West Bengal,West Midnapore,721517,2,1,0

In [101]:
# removing duplicates
df.drop_duplicates(inplace=True)

In [102]:
df.shape

(6029, 7)

In [103]:
df.head()

         date      state district  pincode  age_0_5  age_5_17  age_18_greater
0  31-12-2025  Karnataka    Bidar   585330        2         3               0
1  31-12-2025  Karnataka    Bidar   585402        6         0               0
2  31-12-2025  Karnataka    Bidar   585413        1         0               0
3  31-12-2025  Karnataka    Bidar   585418        1         2               0
4  31-12-2025  Karnataka    Bidar   585421        4         3               0

In [104]:
# First Feature Cleaning
df['state'].unique()

array(['Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Orissa', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand',
       'Pondicherry'], dtype=object)

In [105]:
df['state']=df['state'].str.strip().str.lower()

In [106]:
df['state'].unique()

array(['karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya pradesh',
       'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
       'odisha', 'orissa', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
       'tamil nadu', 'telangana', 'tripura', 'uttar pradesh',
       'uttarakhand', 'west bengal', 'andhra pradesh',
       'arunachal pradesh', 'assam', 'bihar', 'chandigarh',
       'chhattisgarh', 'daman and diu', 'delhi', 'goa', 'gujarat',
       'haryana', 'himachal pradesh', 'jammu and kashmir', 'jharkhand',
       'pondicherry'], dtype=object)

In [107]:
df[df['state'].str.contains("&")]['state'].str.replace("&", "and")

Series([], Name: state, dtype: object)

In [108]:
df['state']=df['state'].str.replace("&", "and")

In [109]:
df[df['state'].str.startswith("o")]['state'].unique()

array(['odisha', 'orissa'], dtype=object)

In [110]:
df['state']=df['state'].str.replace('orissa','odisha')
df['state'] = df['state'].str.replace('chhatisgarh', 'chhattisgarh')
df['state'] = df['state'].str.replace('west bengli', 'west bengal')

In [111]:
df['state'].unique()

array(['karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya pradesh',
       'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
       'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
       'tamil nadu', 'telangana', 'tripura', 'uttar pradesh',
       'uttarakhand', 'west bengal', 'andhra pradesh',
       'arunachal pradesh', 'assam', 'bihar', 'chandigarh',
       'chhattisgarh', 'daman and diu', 'delhi', 'goa', 'gujarat',
       'haryana', 'himachal pradesh', 'jammu and kashmir', 'jharkhand',
       'pondicherry'], dtype=object)

In [112]:
df['state'] = df['state'].replace({
    'daman and diu': 'dadra and nagar haveli and daman and diu',
    'dadra and nagar haveli': 'dadra and nagar haveli and daman and diu',

})

In [113]:
df['state']=df['state'].str.replace(
    r'^\s*west\s*b[aeo]ngal\s*$',
    'west bengal',
    regex=True
)

In [114]:
df['state']=df['state'].replace({'pondicherry':'puducherry', 'uttaranchal':'uttarakhand'})

In [115]:
df[df['state']=='darbhanga']

Empty DataFrame
Columns: [date, state, district, pincode, age_0_5, age_5_17, age_18_greater]
Index: []

In [116]:
df[df['state']=='puttenahalli']

Empty DataFrame
Columns: [date, state, district, pincode, age_0_5, age_5_17, age_18_greater]
Index: []

In [117]:
df['state'].unique()

array(['karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya pradesh',
       'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
       'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
       'tamil nadu', 'telangana', 'tripura', 'uttar pradesh',
       'uttarakhand', 'west bengal', 'andhra pradesh',
       'arunachal pradesh', 'assam', 'bihar', 'chandigarh',
       'chhattisgarh', 'dadra and nagar haveli and daman and diu',
       'delhi', 'goa', 'gujarat', 'haryana', 'himachal pradesh',
       'jammu and kashmir', 'jharkhand'], dtype=object)

# State Feature Cleaned

## Moving to next Feature (District)

In [118]:
df.shape

(6029, 7)

In [119]:
df['district'] = (
    df['district']
    .str.lower()
    .str.strip()
    .str.replace(r'\s+', ' ', regex=True)
)

In [120]:
df['district'].nunique()

771

# It has various Unique values, so applying other logic

In [121]:
df['district'].unique()

array(['bidar', 'bijapur', 'chamrajanagar', 'chamrajnagar',
       'chickmagalur', 'chikkaballapur', 'chikkamagaluru', 'chikmagalur',
       'chitradurga', 'dakshina kannada', 'davanagere', 'davangere',
       'dharwad', 'gadag', 'gadag *', 'gulbarga', 'hasan', 'hassan',
       'haveri', 'kalaburagi', 'kodagu', 'kolar', 'koppal', 'mandya',
       'mysore', 'mysuru', 'raichur', 'ramanagar', 'shimoga',
       'shivamogga', 'tumakuru', 'tumkur', 'udupi', 'uttara kannada',
       'vijayanagara', 'vijayapura', 'yadgir', 'alappuzha', 'ernakulam',
       'idukki', 'kannur', 'kasaragod', 'kollam', 'kottayam', 'kozhikode',
       'malappuram', 'palakkad', 'pathanamthitta', 'thiruvananthapuram',
       'thrissur', 'wayanad', 'leh', 'lakshadweep', 'agar malwa',
       'alirajpur', 'anuppur', 'ashok nagar', 'balaghat', 'barwani',
       'betul', 'bhind', 'bhopal', 'burhanpur', 'chhatarpur',
       'chhindwara', 'damoh', 'datia', 'dewas', 'dhar', 'east nimar',
       'guna', 'gwalior', 'hoshangabad', 'indore', 'jabalpur', 'jhabua',
       'katni', 'khandwa', 'khargone', 'mandla', 'mandsaur', 'mauganj',
       'morena', 'narmadapuram', 'narsimhapur', 'narsinghpur', 'neemuch',
       'pandhurna', 'panna', 'raisen', 'rajgarh', 'ratlam', 'rewa',
       'sagar', 'satna', 'sehore', 'seoni', 'shahdol', 'shajapur',
       'sheopur', 'shivpuri', 'sidhi', 'singrauli', 'tikamgarh', 'ujjain',
       'umaria', 'vidisha', 'west nimar', 'ahilyanagar', 'ahmadnagar',
       'ahmed nagar', 'akola', 'amravati', 'aurangabad', 'beed',
       'bhandara', 'bid', 'buldana', 'buldhana', 'chandrapur', 'dhule',
       'gadchiroli', 'gondiya', 'hingoli', 'jalgaon', 'jalna', 'kolhapur',
       'latur', 'mumbai', 'mumbai city', 'mumbai suburban',
       'mumbai( sub urban )', 'nagpur', 'nanded', 'nandurbar', 'nashik',
       'osmanabad', 'palghar', 'parbhani', 'pune', 'raigad', 'raigarh',
       'ratnagiri', 'sangli', 'satara', 'sindhudurg', 'solapur', 'thane',
       'wardha', 'washim', 'yavatmal', 'chandel', 'churachandpur',
       'imphal east', 'imphal west', 'senapati', 'thoubal', 'ukhrul',
       'east garo hills', 'east jaintia hills', 'east khasi hills',
       'north garo hills', 'ri bhoi', 'south west garo hills',
       'west jaintia hills', 'champhai', 'mammit', 'saiha', 'serchhip',
       'dimapur', 'kohima', 'mokokchung', 'mon', 'tuensang', 'angul',
       'balangir', 'baleshwar', 'baleswar', 'bargarh', 'bhadrak', 'boudh',
       'cuttack', 'dhenkanal', 'gajapati', 'ganjam', 'jajpur',
       'jagatsinghapur', 'jagatsinghpur', 'jajapur', 'kalahandi',
       'kandhamal', 'kendrapara', 'kendujhar', 'khorda', 'khordha',
       'koraput', 'mayurbhanj', 'nabarangapur', 'nayagarh', 'nuapada',
       'puri', 'rayagada', 'sambalpur', 'sonapur', 'sundargarh',
       'sundergarh', 'anugul', 'puducherry', 'amritsar', 'bathinda',
       'faridkot', 'fatehgarh sahib', 'fazilka', 'ferozepur', 'gurdaspur',
       'hoshiarpur', 'jalandhar', 'kapurthala', 'ludhiana', 'pathankot',
       'patiala', 'rupnagar', 'sas nagar (mohali)', 'sangrur',
       'shaheed bhagat singh nagar', 'sri muktsar sahib', 'ajmer',
       'alwar', 'banswara', 'baran', 'barmer', 'bharatpur', 'bhilwara',
       'bikaner', 'bundi', 'chittaurgarh', 'chittorgarh', 'churu',
       'dausa', 'dholpur', 'dungarpur', 'ganganagar', 'hanumangarh',
       'jaipur', 'jaisalmer', 'jalor', 'jhalawar', 'jhunjhunu',
       'jhunjhunun', 'jodhpur', 'karauli', 'kota', 'nagaur', 'pali',
       'pratapgarh', 'rajsamand', 'sawai madhopur', 'sikar', 'sirohi',
       'tonk', 'udaipur', 'east sikkim', 'west sikkim', 'ariyalur',
       'chengalpattu', 'chennai', 'coimbatore', 'cuddalore', 'dharmapuri',
       'dindigul', 'erode', 'kallakurichi', 'kancheepuram',
       'kanniyakumari', 'kanyakumari', 'karur', 'krishnagiri', 'madurai',
       'nagapattinam', 'namakkal', 'perambalur', 'pudukkottai',
       'ramanathapuram', 'salem', 'sivaganga', 'tenkasi', 'thanjavur',
       'the nilgiris', 'theni', 'thiruvallur', 'thiruvarur',
       'thoothukkudi', 'tiruchirappalli', 'tirunelveli', 'tirupattur',
       'tiruppur', 'tiruvallur', 'tiruvannamalai', 'vellore',
       'villupuram', 'viluppuram', 'virudhunagar', 'adilabad',
       'hanumakonda', 'hyderabad', 'jagitial', 'jangoan',
       'jayashankar bhupalpally', 'jogulamba gadwal', 'k.v. rangareddy',
       'kamareddy', 'karimnagar', 'khammam', 'komaram bheem',
       'mahabubabad', 'mahabubnagar', 'mancherial', 'medak',
       'medchal-malkajgiri', 'mulugu', 'nagarkurnool', 'nalgonda',
       'narayanpet', 'nizamabad', 'peddapalli', 'rajanna sircilla',
       'sangareddy', 'siddipet', 'suryapet', 'vikarabad', 'warangal',
       'warangal rural', 'warangal urban', 'yadadri.', 'dhalai', 'gomati',
       'khowai', 'north tripura', 'south tripura', 'unakoti',
       'west tripura', 'agra', 'aligarh', 'allahabad', 'ambedkar nagar',
       'amethi', 'amroha', 'ayodhya', 'azamgarh', 'baghpat', 'bahraich',
       'ballia', 'balrampur', 'banda', 'bara banki', 'barabanki',
       'bareilly', 'basti', 'bhadohi', 'bijnor', 'budaun', 'bulandshahr',
       'chandauli', 'deoria', 'etah', 'etawah', 'faizabad', 'farrukhabad',
       'fatehpur', 'firozabad', 'gautam buddha nagar', 'ghaziabad',
       'ghazipur', 'gonda', 'gorakhpur', 'hamirpur', 'hapur', 'hardoi',
       'hathras', 'jalaun', 'jaunpur', 'jhansi', 'jyotiba phule nagar',
       'kannauj', 'kanpur dehat', 'kanpur nagar', 'kasganj', 'kaushambi',
       'kheri', 'kushinagar', 'lalitpur', 'lucknow', 'maharajganj',
       'mahoba', 'mainpuri', 'mathura', 'mau', 'meerut', 'mirzapur',
       'moradabad', 'muzaffarnagar', 'prayagraj', 'rae bareli', 'rampur',
       'saharanpur', 'sambhal', 'sant kabir nagar', 'sant ravidas nagar',
       'shahjahanpur', 'shamli', 'shrawasti', 'siddharthnagar', 'sitapur',
       'sonbhadra', 'sultanpur', 'unnao', 'varanasi', 'almora',
       'bageshwar', 'chamoli', 'dehradun', 'haridwar', 'nainital',
       'pauri garhwal', 'pithoragarh', 'rudraprayag', 'tehri garhwal',
       'udham singh nagar', 'alipurduar', 'bankura', 'barddhaman',
       'bardhaman', 'birbhum', 'cooch behar', 'darjeeling', 'darjiling',
       'east midnapore', 'haora', 'hooghly', 'howrah', 'hugli',
       'jalpaiguri', 'jhargram', 'koch bihar', 'kolkata', 'malda',
       'maldah', 'murshidabad', 'nadia', 'north 24 parganas',
       'north dinajpur', 'north twenty four parganas',
       'paschim bardhaman', 'paschim medinipur', 'purba bardhaman',
       'purba medinipur', 'puruliya', 'south 24 parganas',
       'south dinajpur', 'south twenty four parganas', 'uttar dinajpur',
       'west midnapore', 'alluri sitharama raju', 'anakapalli',
       'anantapur', 'ananthapur', 'ananthapuramu', 'annamayya',
       'chittoor', 'cuddapah', 'dr. b. r. ambedkar konaseema',
       'east godavari', 'eluru', 'guntur', 'krishna', 'kurnool',
       'mahabub nagar', 'mahbubnagar', 'n. t. r', 'nandyal', 'nellore',
       'palnadu', 'parvathipuram manyam', 'prakasam', 'rangareddi',
       'sri potti sriramulu nellore', 'sri sathya sai', 'srikakulam',
       'tirupati', 'visakhapatnam', 'vizianagaram', 'west godavari',
       'changlang', 'east kameng', 'east siang', 'lohit', 'papum pare',
       'tawang', 'upper siang', 'west siang', 'baksa', 'barpeta',
       'biswanath', 'bongaigaon', 'cachar', 'chirang', 'darrang',
       'dhemaji', 'dhubri', 'dibrugarh', 'goalpara', 'golaghat',
       'hailakandi', 'hojai', 'jorhat', 'kamrup', 'kamrup metro',
       'karbi anglong', 'karimganj', 'kokrajhar', 'lakhimpur', 'marigaon',
       'nagaon', 'nalbari', 'sibsagar', 'sonitpur',
       'south salmara mankachar', 'sribhumi', 'tinsukia', 'araria',
       'arwal', 'aurangabad(bh)', 'banka', 'begusarai', 'bhabua',
       'bhagalpur', 'bhojpur', 'buxar', 'darbhanga', 'east champaran',
       'gaya', 'gopalganj', 'jamui', 'jehanabad', 'kaimur (bhabua)',
       'katihar', 'khagaria', 'kishanganj', 'lakhisarai', 'madhepura',
       'madhubani', 'monghyr', 'munger', 'muzaffarpur', 'nalanda',
       'nawada', 'patna', 'purnia', 'rohtas', 'saharsa', 'samastipur',
       'samstipur', 'saran', 'sheikhpura', 'sheohar', 'sitamarhi',
       'siwan', 'supaul', 'vaishali', 'west champaran', 'chandigarh',
       'balod', 'baloda bazar', 'bastar', 'bemetara', 'bilaspur',
       'dakshin bastar dantewada', 'dantewada', 'dhamtari', 'durg',
       'janjgir - champa', 'janjgir-champa', 'jashpur', 'kabeerdham',
       'kanker', 'kondagaon', 'korba', 'koriya', 'mahasamund',
       'manendragarhâ€“chirmiriâ€“bharatpur', 'mungeli', 'narayanpur',
       'raipur', 'rajnandgaon', 'sarangarh-bilaigarh', 'sukma',
       'surajpur', 'surguja', 'uttar bastar kanker', 'daman',
       'central delhi', 'north delhi', 'north east', 'north west delhi',
       'shahdara', 'south delhi', 'south west delhi', 'west delhi',
       'north goa', 'south goa', 'ahmadabad', 'ahmedabad', 'amreli',
       'anand', 'arvalli', 'banaskantha', 'bharuch', 'bhavnagar', 'botad',
       'chhotaudepur', 'dahod', 'devbhumi dwarka', 'gandhinagar',
       'gir somnath', 'jamnagar', 'junagadh', 'kachchh', 'kheda',
       'mahesana', 'mahisagar', 'morbi', 'navsari', 'panchmahals',
       'patan', 'rajkot', 'sabar kantha', 'sabarkantha', 'surat',
       'surendra nagar', 'surendranagar', 'tapi', 'the dangs', 'vadodara',
       'valsad', 'ambala', 'bhiwani', 'charkhi dadri', 'fatehabad',
       'gurgaon', 'hisar', 'jhajjar', 'jind', 'kaithal', 'karnal',
       'kurukshetra', 'mahendragarh', 'mewat', 'palwal', 'panchkula',
       'panipat', 'rewari', 'rohtak', 'sonipat', 'yamuna nagar',
       'yamunanagar', 'chamba', 'kangra', 'kinnaur', 'kullu',
       'lahul & spiti', 'mandi', 'shimla', 'solan', 'una', 'anantnag',
       'bandipore', 'baramula', 'budgam', 'doda', 'jammu', 'kargil',
       'kathua', 'kupwara', 'pulwama', 'punch', 'rajouri', 'ramban',
       'samba', 'srinagar', 'udhampur', 'bokaro', 'chatra', 'deoghar',
       'dhanbad', 'dumka', 'east singhbhum', 'garhwa', 'giridih', 'godda',
       'gumla', 'hazaribag', 'hazaribagh', 'jamtara', 'latehar', 'pakur',
       'palamau', 'palamu', 'pashchimi singhbhum', 'purbi singhbhum',
       'ramgarh', 'ranchi', 'sahebganj', 'sahibganj',
       'seraikela-kharsawan', 'west singhbhum', 'bagalkot', 'bagalkot *',
       'ballari', 'bangalore', 'bangalore rural', 'belagavi', 'belgaum',
       'bellary', 'bengaluru', 'bengaluru south', 'haveri *', 'kasargod',
       'dindori', 'harda', 'harda *', 'maihar', 'niwari',
       'chhatrapati sambhajinagar', 'nandurbar *', 'raigarh(mh)',
       'bishnupur', 'kakching', 'south garo hills',
       'south west khasi hills', 'west garo hills', 'west khasi hills',
       'aizawl', 'mamit', 'chumukedima', 'phek', 'jharsuguda',
       'malkangiri', 'karaikal', 'pondicherry', 'barnala', 'moga',
       's.a.s nagar(mohali)', 'tarn taran', 'deeg', 'west',
       'bhadradri kothagudem', 'medchalâˆ’malkajgiri', 'nirmal',
       'rangareddy', 'wanaparthy', 'sepahijala', 'auraiya', 'chitrakoot',
       'kushinagar *', 'pilibhit', 'sant ravidas nagar bhadohi',
       'champawat', 'uttarkashi', 'dakshin dinajpur', 'kalimpong',
       'purulia'], dtype=object)

In [122]:
df.shape

(6029, 7)

In [123]:
import pandas as pd
import json

# Step 1: Load your reference JSON file
with open('/content/state_district_reference.json', 'r', encoding='utf-8') as f:
    reference_data = json.load(f)


# Step 3: Create a simple validation function
def is_valid_district(state, district):
    """
    Check if district exists in the given state's district list

    Args:
        state (str): State name (must match JSON key exactly)
        district (str): District name to validate

    Returns:
        bool: True if district is in that state's list, False otherwise
    """
    # Get the districts list for this state from JSON
    if state in reference_data:
        valid_districts = reference_data[state]['districts']
        # Check if district is in the list
        return district in valid_districts
    return False

# Step 4: Apply validation to each row
df['is_valid'] = df.apply(
    lambda row: is_valid_district(row['state'], row['district']),
    axis=1
)

# Step 5: Get rows where matching didn't happen (invalid rows)
invalid_rows = df[df['is_valid'] == False]

# Step 6: Display results
print("=" * 70)
print("DISTRICT VALIDATION REPORT")
print("=" * 70)
print(f"\nTotal rows in dataset: {len(df)}")
print(f"Valid matches (district found in state's list): {df['is_valid'].sum()}")
print(f"INVALID/MISSPELLED rows (matching didn't happen): {len(invalid_rows)}")
print(f"Percentage of invalid rows: {(len(invalid_rows)/len(df)*100):.2f}%")
print("=" * 70)

# Step 7: Show sample of invalid records
if len(invalid_rows) > 0:
    print("\nSample of INVALID records (first 10):")
    print(invalid_rows[['state', 'district']].head(10).to_string(index=False))

    # Breakdown by state
    print("\n\nINVALID records breakdown by STATE:")
    print(invalid_rows['state'].value_counts().to_string())

# Step 8: Decide whether to drop based on count
print("\n" + "=" * 70)
if len(invalid_rows) >= 2000 and len(invalid_rows) <= 3000:
    print(f"âœ“ Invalid rows count: {len(invalid_rows)} (within 2k-3k range - SAFE TO DROP)")

    # Drop invalid rows and create cleaned dataset
    df_cleaned = df[df['is_valid'] == True].drop('is_valid', axis=1).reset_index(drop=True)

    print(f"âœ“ Original dataset shape: {df.shape}")
    print(f"âœ“ Cleaned dataset shape: {df_cleaned.shape}")
    print(f"âœ“ Rows dropped: {len(df) - len(df_cleaned)}")

    # Save cleaned data
    df_cleaned.to_csv('your_dataset_cleaned.csv', index=False)
    print(f"\nâœ“ Cleaned dataset saved to 'your_dataset_cleaned.csv'")

elif len(invalid_rows) < 2000:
    print(f"âš  Invalid rows count: {len(invalid_rows)} (less than 2000)")
    print("  Suggestion: Consider fixing these records instead of dropping")

elif len(invalid_rows) > 3000:
    print(f"âœ— Invalid rows count: {len(invalid_rows)} (more than 3000)")
    print("  Suggestion: Data quality issue - manual review needed before dropping")

# Step 9: Export invalid records for reference
if len(invalid_rows) > 0:
    invalid_rows[['state', 'district']].to_csv('invalid_records.csv', index=False)
    print(f"âœ“ Invalid records exported to 'invalid_records.csv' for review")

print("=" * 70)

======================================================================
DISTRICT VALIDATION REPORT
======================================================================

Total rows in dataset: 6029
Valid matches (district found in state's list): 4979
INVALID/MISSPELLED rows (matching didn't happen): 1050
Percentage of invalid rows: 17.42%
======================================================================

Sample of INVALID records (first 10):
    state      district
karnataka       bijapur
karnataka       bijapur
karnataka       bijapur
karnataka       bijapur
karnataka       bijapur
karnataka       bijapur
karnataka       bijapur
karnataka       bijapur
karnataka chamrajanagar
karnataka chamrajanagar


INVALID records breakdown by STATE:
state
karnataka            161
west bengal          147
odisha               107
maharashtra           98
tamil nadu            76
andhra pradesh        69
telangana             59
madhya pradesh        46
uttar pradesh         42
rajasthan             34
tripura               33
manipur               26
meghalaya             25
gujarat               25
chhattisgarh          14
delhi                 12
assam                 11
nagaland              11
jharkhand             10
bihar                 10
haryana                9
punjab                 8
jammu and kashmir      5
sikkim                 5
puducherry             3
mizoram                2
himachal pradesh       1
kerala                 1

======================================================================
âš  Invalid rows count: 1050 (less than 2000)
  Suggestion: Consider fixing these records instead of dropping
âœ“ Invalid records exported to 'invalid_records.csv' for review
======================================================================

In [124]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,is_valid
0,31-12-2025,karnataka,bidar,585330,2,3,0,True
1,31-12-2025,karnataka,bidar,585402,6,0,0,True
2,31-12-2025,karnataka,bidar,585413,1,0,0,True
3,31-12-2025,karnataka,bidar,585418,1,2,0,True
4,31-12-2025,karnataka,bidar,585421,4,3,0,True

In [125]:
df_cleaned = df[df['is_valid'] == True].drop('is_valid', axis=1).reset_index(drop=True)

In [126]:
df_anomalies = df[df['is_valid']==False].drop('is_valid',axis=1).reset_index(drop=True)

In [127]:
df_cleaned.shape

(4979, 7)

In [128]:
df_cleaned.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [129]:
df_cleaned['state'].unique()

array(['karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya pradesh',
       'maharashtra', 'mizoram', 'odisha', 'puducherry', 'punjab',
       'rajasthan', 'tamil nadu', 'telangana', 'uttar pradesh',
       'uttarakhand', 'west bengal', 'andhra pradesh',
       'arunachal pradesh', 'assam', 'bihar', 'chandigarh',
       'chhattisgarh', 'dadra and nagar haveli and daman and diu',
       'delhi', 'goa', 'gujarat', 'haryana', 'himachal pradesh',
       'jammu and kashmir', 'jharkhand'], dtype=object)

In [130]:
df_cleaned.to_csv("enrol_cleaned_3.csv")

In [131]:
df_anomalies.shape

(1050, 7)

In [132]:
df_anomalies.to_csv('enrol_anomalies_3.csv')