In [2]:
import pandas as pd

In [1]:
# df1 = pd.read_csv('/content/bio_anomalies_cleaned.csv')
# df2 = pd.read_csv('/content/bio_final_cleaned_state_check.csv')

In [5]:
df1 = pd.read_csv('/content/bio_final_cleaned.csv')
df2 = pd.read_csv('/content/bio_anomalies_anomalies_clean.csv')

In [14]:
df1.shape

(1475177, 6)

In [7]:
df= pd.concat([df1,df2])

In [15]:
df.shape

(1548606, 6)

In [9]:
df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,odisha,nabarangpur,764075,438,605
1,01-03-2025,punjab,shahid bhagat singh nagar,144514,134,249
2,01-03-2025,karnataka,davanagere,577002,219,386
3,01-03-2025,odisha,sundargarh,769004,152,186
4,01-03-2025,andhra pradesh,ananthapuramu,515301,83,105

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1548606 entries, 0 to 73428
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   date          1548606 non-null  object
 1   state         1548606 non-null  object
 2   district      1548606 non-null  object
 3   pincode       1548606 non-null  int64
 4   bio_age_5_17  1548606 non-null  int64
 5   bio_age_17_   1548606 non-null  int64
dtypes: int64(3), object(3)
memory usage: 82.7+ MB

In [ ]:
df.drop(['match'],axis=1, inplace=True)

In [ ]:
df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,odisha,nabarangpur,764075,438,605
1,01-03-2025,punjab,shahid bhagat singh nagar,144514,134,249
2,01-03-2025,karnataka,davanagere,577002,219,386
3,01-03-2025,odisha,sundargarh,769004,152,186
4,01-03-2025,andhra pradesh,ananthapuramu,515301,83,105

In [13]:
df.to_csv('bio_final_cleaned_new.csv',index=False)