# UIDAI Biometric Data Analysis file 1

In [1]:
#importing necessary libraries
import pandas as pd

In [2]:
df = pd.read_csv('/content/enrol_clean_final.csv')

In [5]:
df.shape

(807345, 7)

In [6]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,09-03-2025,karnataka,bengaluru urban,560043,14,33,39
1,09-03-2025,uttar pradesh,kanpur nagar,208001,29,82,12
2,09-03-2025,uttar pradesh,aligarh,202133,62,29,15
3,09-03-2025,karnataka,bengaluru urban,560016,14,16,21
4,09-03-2025,bihar,sitamarhi,843331,20,49,12

In [ ]:
df.drop(['Unnamed: 0'],inplace=True,axis=1)

In [ ]:
df['district'] = df['district'].str.upper()
df['state'] = df['state'].str.upper()

In [7]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,09-03-2025,karnataka,bengaluru urban,560043,14,33,39
1,09-03-2025,uttar pradesh,kanpur nagar,208001,29,82,12
2,09-03-2025,uttar pradesh,aligarh,202133,62,29,15
3,09-03-2025,karnataka,bengaluru urban,560016,14,16,21
4,09-03-2025,bihar,sitamarhi,843331,20,49,12

In [ ]:
df['state']=df['state'].str.lower()
df['district']=df['district'].str.lower()

In [8]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,09-03-2025,karnataka,bengaluru urban,560043,14,33,39
1,09-03-2025,uttar pradesh,kanpur nagar,208001,29,82,12
2,09-03-2025,uttar pradesh,aligarh,202133,62,29,15
3,09-03-2025,karnataka,bengaluru urban,560016,14,16,21
4,09-03-2025,bihar,sitamarhi,843331,20,49,12

In [9]:
df.shape

(807345, 7)

In [10]:
df_pre_final = df.copy()

In [11]:
df_pre_final.shape

(807345, 7)

In [12]:
df_pre_final.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [13]:
import pandas as pd
import json

# Load your pincode JSON file
with open('pin-code-data.json', 'r') as f:
    pincode_data = json.load(f)

# Create a mapping of state to its valid pincodes
state_to_pincodes = {}
for pincode, info in pincode_data.items():
    state = info['state'].upper()

    if state not in state_to_pincodes:
        state_to_pincodes[state] = set()
    state_to_pincodes[state].add(pincode)

# Function to check if pincode belongs to state
def check_pincode_in_state(pincode, state):
    """
    Check if pincode belongs to the given state
    Returns: True if pincode exists for that state, False otherwise
    """
    pincode_str = str(pincode).strip()
    state_upper = state.upper().strip()

    if state_upper in state_to_pincodes:
        return pincode_str in state_to_pincodes[state_upper]
    else:
        return False

# Create new 'match' column

df_pre_final['match'] = df_pre_final.apply(
    lambda row: check_pincode_in_state(row['pincode'], row['state']),
    axis=1
)

# Display results
print(df_pre_final[['state', 'pincode', 'match']])

# Get summary
print("\nMatch Summary:")
print(df_pre_final['match'].value_counts())

# Show unmatched records
unmatched = df_pre_final[df_pre_final['match'] == False]
print(f"\nUnmatched Records: {len(unmatched)}")
print(unmatched[['state', 'pincode', 'match']])

                state  pincode  match
0           karnataka   560043   True
1       uttar pradesh   208001   True
2       uttar pradesh   202133   True
3           karnataka   560016   True
4               bihar   843331   True
...               ...      ...    ...
807340    west bengal   743601  False
807341    west bengal   733134   True
807342    west bengal   733201   True
807343    west bengal   733207   True
807344    west bengal   733212  False

[807345 rows x 3 columns]

Match Summary:
match
True     784008
False     23337
Name: count, dtype: int64

Unmatched Records: 23337
               state  pincode  match
123     chhattisgarh   494444  False
127     chhattisgarh   494447  False
290     chhattisgarh   494447  False
391          gujarat   394230  False
393           punjab   143110  False
...              ...      ...    ...
807300   west bengal   721257  False
807336   west bengal   743384  False
807338   west bengal   743507  False
807340   west bengal   743601  False
807344   west bengal   733212  False

[23337 rows x 3 columns]

In [14]:
df_clean_after_state_check = df_pre_final[df_pre_final['match']==True]

In [15]:
df_clean_after_state_check.shape

(784008, 8)

In [16]:
df_clean_after_state_check.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,match
0,09-03-2025,karnataka,bengaluru urban,560043,14,33,39,True
1,09-03-2025,uttar pradesh,kanpur nagar,208001,29,82,12,True
2,09-03-2025,uttar pradesh,aligarh,202133,62,29,15,True
3,09-03-2025,karnataka,bengaluru urban,560016,14,16,21,True
4,09-03-2025,bihar,sitamarhi,843331,20,49,12,True

In [17]:
df_clean_after_state_check.to_csv('enrol_final_cleaned_state_check.csv',index=False)

# Now Saving False data, where state not mapped to correct pincode

In [18]:
df_false_after_state_check = df_clean_after_state_check = df_pre_final[df_pre_final['match']==False]

In [19]:
df_false_after_state_check.shape

(23337, 8)

In [20]:
df_false_after_state_check.to_csv('enrol_false_after_state_check.csv',index=False)